
:root{
    --transition-effect: 0.25s cubic-bezier(0.25,-0.59,.82,1.66) 0.3s;

}
body.dark{
    background: #000;
    transition: var(--transition-effect);
  
}
body{
    background: #fff;
    transition-delay: var(--transition-delay);
    transition: var(--transition-effect);
}

#wrapper{
    display: flex;
    justify-content:center;
    align-items: center;
    min-height: 60vh;
}
.switch-toggle{
    width: 90px;
    height: 50px;
    appearance: none;
    background-color: #83d8ff;
    border-radius: 26px;
    position: relative;
    cursor:pointer;
    box-shadow: inset 0px 0px 16px rgba(0, 0, 0, 0.3);
    transition: var(--transition-effect);
   
}
.switch-toggle::before{
    content: "";
    width: 44px;
    height: 44px;
    position: absolute;
    top: 3px;
    left: 3px;
    background: #fafae4;
    border-radius:50%;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
    transition: var(--transition-effect);
  
}
.switch-toggle:checked{
    background: #749dd6;
}
.switch-toggle:checked:before{
    left: 40px;
}